<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ current_user.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tale_content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>
<body>
    <header>
        <a class="logo" href="#">
            <i class="bi bi-apple"></i>
            <div class="title">Mingle</div>
        </a>
        <div class="search_area">
            <form action="">
                <input placeholder="Search..." type="text" required>
                <div class="search"><i class="bi bi-search"></i></div>
                <button type="reset" class="clear_search"><i class="bi bi-x"></i></button>
                <div class="remove_search_area"><i class="bi bi-caret-up"></i></i></div>
            </form>
        </div>
        <div class="pull_right">
            <button type="submit" class="active search_icon"><i class="bi bi-search"></i></button>
            
            <div class="editors_choice"><i class="bi bi-bookmark-fill"></i></i></div>
            <div class="user_icon"><i class="bi bi-person-fill"></i></div>
        </div>
        <div class="authentication">
            <div class="login"><a href="/mingle/logout"><span>Logout</span><span><i class="bi bi-box-arrow-in-left"></i></span></a></div>
        </div>
        <div class="create_options">
            <div class="create_tale"><a href="/mingle/createtale"><span>Create Tale</span><span><i class="bi bi-book-half"></i></span></a></div>
            <div class="create_video"><a href="#"><span>Create video</span><span><i class="bi bi-play-btn-fill"></i></span></a></div>
            <div class="create_teaser"><a href="#"><span>Create teaser</span><span><i class="bi bi-play-circle-fill"></i></span></a></div>
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash_message {{ category }}">
                <p>{{ message }}</p>
                <i class="bi bi-x"></i>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <nav>
        <ul>
            <li class="nav_item active">
                <a href="/mingle">
                    <span class="nav_icon"><i class="bi bi-house-door"></i></span><span class="nav_tag">Home</span>
                </a>
            </li>
            <li class="nav_item">
                <a href="/mingle/minglers">
                    <span class="nav_icon"><i class="bi bi-people"></i></span>
                    <span class="nav_tag">Minglers</span>
                </a>
            </li>
            <li class="nav_item ">
                <a href="/mingle/createtale">
                    <span class="nav_icon"><i class="bi bi-plus-circle"></i></span>
                    <span class="nav_tag">Create</span>
                </a>
            </li>
            <li class="nav_item ">
                <a href="/market">
                    <span class="nav_icon"><i class="bi bi-cart-dash"></i></span>
                    <span class="nav_tag">Market</span>
                </a>
            </li>
            <li class="nav_item ">
                <a href="/mingle/profile/{{ current_user.username }}">
                    <span class="nav_icon"><i class="bi bi-person-fill"></i></span>
                    <span class="nav_tag">Profile</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="user_profile">
            <div class="user_type">
                You are an Admin
            </div>
            <div class="user_info">
                <div>
                    <p><span>Username:</span>&emsp; {{ current_user.username }}</p>
                    <p><span>Email:</span>&emsp; {{ current_user.email }}</p>
                </div>
                <div class="change_password">
                    <ul>
                        <a href=""><li>Info</li></a>
                        <a href="/mingle/changepassword/{{ current_user.username }}"><li>Change Password</li></a>
                    </ul>
                </div>
            </div>
            <div class="user_content">
                {% if current_user.tales %}
                {% for tale in current_user.tales %}
                <div class="tale">
                    <div class="galeryDetailsContent clearfix">
                        <!-- <div class="clearfix"></div> -->
                        <div class="pull-left channelPhotoDescription">
                            <div class="creator_icon">
                                <a href="#">
                                    <i class="bi bi-person-fill"></i>
                                </a>
                            </div>
                            <strong class="title">{{ tale.title }}</strong>
                            <div class="videoChannel pull-left">
                                <a href="/mingle/profile/${tale.username}">{{ tale.user_username }}</a>
                            </div>
                            <div class="galeryDetails pull-left">
                                <time datetime="2024-05-03 13:24:51" class="videoHumanTime pull-right">
                                    <i class="bi bi-alarm"></i>{{ tale.created_at | time_ago_in_words }}
                                </time>
                                <div class="videoViews">
                                    <i class="bi bi-eye"></i>
                                    <span itemprop="interactionCount">No views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="thumbsImageContainer">
                        <div class="aspectRatio16_9">{{ tale.content }}</div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                Nothing yet!!!
                {% endif %}
            </div>
        </div>
    </main>
    
</body>
</html>
