<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangePasword/{{ current_user.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sign_up.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flash.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash_message {{ category }}">
                <p>{{ message }}</p>
                <i class="bi bi-x"></i>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="sign_up_container">
        <p class="title">Change password</p>
        <form method="post" method="POST" class="sign_up_form">
            {{ form.hidden_tag() }}
            <div class="form">
                <div class="password inputBox">
                    {{ form.current_password }}
                    <i>Current password</i>
                    <i class="see_password see_current_password"><i class="bi bi-eye-fill"></i></i>
                </div>
                <div class="new_password inputBox">
                    {{ form.new_password }}
                    <i>New password</i>
                    <i class="see_password see_new_password"><i class="bi bi-eye-fill"></i></i>
                </div>
                <div class="confirm_new_password inputBox">
                    {{ form.confirm_new_password }}
                    <i>Confirm new password</i>
                </div>
                <div class="submit_btn inputBox">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>

    <script>
    
        $(".see_current_password").click(() => {
            $(".see_current_password i").toggleClass("bi-eye-slash-fill");
            if ($("#current_password").prop("type") === 'password') {
                console.log("True");
                $("#current_password").prop("type", "text");
            } else {
                $("#current_password").prop("type", "password") = 'password';
            }
        }
        );

        $(".see_new_password").click(() => {
            $(".see_new_password i").toggleClass("bi-eye-slash-fill");
            if ($("#new_password").prop("type") === 'password') {
                console.log("True");
                $("#new_password").prop("type", "text");
            } else {
                $("#new_password").prop("type", "password") = 'password';
            }
        }
        );

    </script>
</body>
</html>
