<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mingle</title>
    <link rel="icon" href="../static/images/mingle_project_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/navbar.css">
    <link rel="stylesheet" href="../static/styles/spinner.css">
    <link rel="stylesheet" href="../static/styles/flash.css">
    <link rel="stylesheet" href="../static/styles/tale_content.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/main.js"></script>
</head>
<body>
    <header class="header">
        <a class="logo" href="/mingle">
            <img src="../static/images/mingle_project_logo.png" alt="">
            
        </a>
        <div class="search_area">
            <form action="">
                <input placeholder="Search..." type="text" required>
                <div class="search"><i class="bi bi-search"></i></div>
                <button type="reset" class="clear_search"><i class="bi bi-x"></i></button>
                <div class="remove_search_area"><i class="bi bi-caret-up"></i></i></div>
            </form>
        </div>
        <div class="pull_right">
            <button type="submit" class="active search_icon"><i class="bi bi-search"></i></button>
            
            <div class="editors_choice"><i class="bi bi-bookmark-fill"></i></i></div>
            <button class="user_icon" popovertarget="my-popover"><i class="bi bi-three-dots"></i></button>
        </div>
        <div id="my-popover" class="authentication" popover>
            <div class="popover_element">
                {% if current_user.is_authenticated %}
                <div class="logout"><a href="/mingle/logout"><span>Logout</span><span><i class="bi bi-box-arrow-in-left"></i></span></a></div>
                {% else %}
                <div class="login"><a href="/mingle/login"><span>Login</span><span><i class="bi bi-box-arrow-in-right"></i></span></a></div>
                <div class="signup"><a href="/mingle/sign-up"><span>Signup</span><span><i class="bi bi-question-lg"></i></span></a></div>
                {% endif %}
            </div>
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash_message {{ category }}">
                <p>{{ message }}</p>
                <i class="bi bi-x"></i>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <nav>
        <ul>
            <li class="nav_item active">
                <a href="/mingle">
                    <span class="nav_icon"><i class="bi bi-house-door-fill"></i></span><span class="nav_tag">Home</span>
                </a>
            </li>
            <li class="nav_item">
                <a href="/mingle/minglers">
                    <span class="nav_icon"><i class="bi bi-people"></i></span>
                    <span class="nav_tag">Minglers</span>
                </a>
            </li>
            <li class="nav_item ">
                <a href="/mingle/createtale">
                    <span class="nav_icon"><i class="bi bi-plus-circle"></i></span>
                    <span class="nav_tag">Create</span>
                </a>
            </li>
            <li class="nav_item ">
                <a href="/mingle/collections">
                    <span class="nav_icon"><i class="bi bi-collection"></i></span>
                    <span class="nav_tag">Collections</span>
                </a>
            </li>
            <li class="nav_item">
                {% if current_user.is_authenticated %}
                    <a href="/mingle/profile/{{ current_user.username }}">
                        <span class="nav_icon"><i class="bi bi-person"></i></span>
                        <span class="nav_tag">Profile</span>
                    </a>
                {% else %}
                    <a href="/mingle/login">
                        <span class="nav_icon"><i class="bi bi-person"></i></span>
                        <span class="nav_tag">Login</span>
                    </a>
                {% endif %}
            </li>


        </ul>
    </nav>

    
    <main>
        <div class="spinner">
            <div class="dot-spinner">
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
            </div>
        </div>
    </main>

    <script>
        function convertToCustomFormat(utcDateString) {
            const dt = new Date(utcDateString); // Create a Date object from the UTC string
            const year = dt.getUTCFullYear();
            const month = (dt.getUTCMonth() + 1).toString().padStart(2, '0');
            const day = dt.getUTCDate().toString().padStart(2, '0');
            const hours = dt.getUTCHours().toString().padStart(2, '0');
            const minutes = dt.getUTCMinutes().toString().padStart(2, '0');
            const seconds = dt.getUTCSeconds().toString().padStart(2, '0');
            const milliseconds = dt.getUTCMilliseconds().toString().padStart(3, '0');

            return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}.${milliseconds}`;
        }

        function formatRelativeTime(datetimeString) {
            const dt = new Date(datetimeString);
            const date = new Date().toUTCString();
            const now = new Date(convertToCustomFormat(date));
            const delta = now - dt;

            const minute = 60 * 1000;
            const hour = 60 * minute;
            const day = 24 * hour;
            const month = 30 * day;
            const year = 365 * day;

            if (delta > year) {
                const years = Math.floor(delta / year);
                return `${years} year${years > 1 ? 's' : ''} ago`;
            } else if (delta > month) {
                const months = Math.floor(delta / month);
                return `${months} month${months > 1 ? 's' : ''} ago`;
            } else if (delta > day) {
                const days = Math.floor(delta / day);
                return `${days} day${days > 1 ? 's' : ''} ago`;
            } else if (delta > hour) {
                const hours = Math.floor(delta / hour);
                return `${hours} hour${hours > 1 ? 's' : ''} ago`;
            } else if (delta > minute) {
                const minutes = Math.floor(delta / minute);
                return `${minutes} minute${minutes > 1 ? 's' : ''} ago`;
            } else {
                return 'Just now';
            }
        }

        function openTale(id) {
            window.location.href = `/mingle/tales/${id}`;
        }

        fetch('https://www.leeroynyanchwa.tech/api/v1/tales/')
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    $("main").empty();
                    $("main").append(`<div class="tale_content"></div>`);
                    data.forEach((tale, index) => {
                        $(".tale_content").append(`
                        <div class="tale" onclick="openTale('${tale.id}')">
                        <div class="galeryDetailsContent clearfix">
                            <div class="pull-left channelPhotoDescription">
                                <div class="creator_icon">
                                    <a href="http://localhost:5000/mingle/profile/${tale.user_username}">
                                        <i class="bi bi-person-fill"></i>
                                    </a>
                                </div>
                                <div class="videoChannel pull-left">
                                    <a href="/mingle/profile/${tale.user_username}">${tale.user_username}</a>
                                </div>
                                <div class="galeryDetails pull-left">
                                    <time datetime="2024-05-03 13:24:51" class="videoHumanTime pull-right">
                                        <i class="bi bi-alarm"></i>${formatRelativeTime(tale.updated_at)}
                                    </time>
                                </div>
                                <strong class="title">${tale.title}</strong>
                            </div>
                        </div>
                        
                        <div class="thumbsImageContainer">
                            <div class="aspectRatio16_9">${tale.content}</div>
                        </div>
                    </div>
                        `);
                    });
                }
                else {
                    $("main").empty();
                    $("main").append(`<div class="no_content">No Tales Yet.</div>`);
                }
            });
    </script>
    
</body>
</html>
