main {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 65px;
  right: 0;
  width: 100%;
  min-height: calc(100% - 65px);
  transition: 0.5s ease;
}
.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 5px;
}
.user_card {
  background-color: #fff;
  position: relative;
  padding: 5px;
  border: 1px solid rgba(37, 34, 34, 0.4);
  border-radius: 20px;
  min-width: 320px;
  max-width: 500px;
  margin: 15px;
  margin: 5px auto;
}
.user_profile_icon {
  text-align: center;
  line-height: 50px;
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid rgba(37, 34, 34, 0.4);
  margin: 2px;
}
.user_info {
  margin-left: 60px;
  height: 55px;
  line-height: 50px;
}
.about_user {
  padding: 4px;
  text-align: center;
  border-top: 1px solid rgba(37, 34, 34, 0.4);
}

@media screen and (min-width: 600px) {
  main {
    position: absolute;
    width: 80%;
    right: 0;
  }
  .users {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    width: 80%;
  }
}
@media screen and (min-width: 875px) {
  main {
    position: absolute;
    width: calc(100% - 200px);
    right: 0;
  }
  .users {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    width: calc(100% - 200px);
  }
}
